@model AgriculturePresentation.Models.UserEditViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Profil Düzenleme Sayfası</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label>E-posta Adresi</label>
                    <input type="text" class="form-control" asp-for="Mail">
                    <span asp-validation-for="Mail" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Telefon Numarası</label>
                    <input type="text" class="form-control" asp-for="Phone">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Mevcut Şifre</label>
                    <input type="password" class="form-control" asp-for="CurrentPassword" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Yeni Şifre</label>
                    <input type="password" class="form-control" asp-for="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Yeni Şifre (Tekrar)</label>
                    <input type="password" class="form-control" asp-for="ConfirmPassword">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <br />
                <button type="submit" class="btn btn-outline-info me-2">Kaydet</button>
                <a asp-controller="Dashboard" asp-action="Index" class="btn btn-outline-secondary">İptal</a>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@if (TempData["SuccessMessage"]?.ToString() == "ProfileUpdated")
{
    <script>
        Swal.fire({
            title: 'Başarılı!',
            text: 'Profil bilgileriniz güncellendi.',
            icon: 'success',
            confirmButtonText: 'Tamam',
            confirmButtonColor: '#7062e3'
        });
    </script>
}