@model EntityLayer.Concrete.Address

@{
    ViewData["Title"] = "EditAddress";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Adres Bilgisi Güncelleme Sayfası</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    @Html.HiddenFor(x => x.AddressID)

                    <label for="exampleInputName1">Açık Adres</label>
                    <span asp-validation-for="Description1" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="Description1">
                    <br />

                    <label for="exampleInputName1">Şehir/Ülke</label>
                    <span asp-validation-for="Description2" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="Description2">
                    <br />

                    <label for="exampleInputName1">E-posta Adresi</label>
                    <span asp-validation-for="Description3" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="Description3">
                    <br />

                    <label for="exampleInputName1">Telefon Numarası</label>
                    <span asp-validation-for="Description4" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="Description4">
                    <br />

                    <label for="exampleInputName1">Haritadaki Konum</label>
                    <span asp-validation-for="MapInfo" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="MapInfo">
                </div>
                <br />
                <button type="submit" class="btn btn-outline-info me-2">Kaydet</button>
            </form>
        </div>
    </div>
</div>



