<head>
    <link rel="icon" type="image/png" href="~/images/sprout.png?v=2" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TÜRK TARIM - YÖNETİCİ PANELİ</title>
    <link rel="stylesheet" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/vendors/base/vendor.bundle.base.css">
            <link rel="stylesheet" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/css/style.css">

                <style>
                        @@media (max-width: 360px) {
                            .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu {
                                position: fixed !important;
                                top: 65px !important;
                                left: 3vw !important;
                                right: auto !important;
                                width: 94vw !important;
                                min-width: 0 !important;
                                transform: none !important;
                                margin-top: 0 !important;
                            }
                        }

                        .form-control[readonly] {
                            background-color: #f8f9fa !important;
                        }


                      
                </style>

            </head>