@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

@await Html.PartialAsync("~/Views/AdminPartials/PartialHead.cshtml")

<body>
    <div class="container-scroller">

        @await Html.PartialAsync("~/Views/AdminPartials/PartialNavbar.cshtml")

        <div class="container-fluid page-body-wrapper">

            @await Html.PartialAsync("~/Views/AdminPartials/PartialSidebar.cshtml")

            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
                <footer class="footer">
                    <div class="d-flex justify-content-center">
                        <span class="text-muted text-center">
                            © @DateTime.Now.Year <b>Türk Tarım</b>. Tüm Hakları Saklıdır. |
                            Geliştiren: <a href="https://github.com/zaruyashar" target="_blank" rel="noopener noreferrer" class="text-info">zaruyashar</a>
                        </span>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/AdminPartials/PartialScripts.cshtml")

    <script src="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/vendors/base/vendor.bundle.base.js"></script>
    <script src="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/js/off-canvas.js"></script>
    <script src="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/js/hoverable-collapse.js"></script>
    <script src="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/js/template.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>