<div class="map-w3ls" style="margin-bottom: 25px;">
    @if (!string.IsNullOrEmpty(ViewBag.v))
    {
        <iframe src="@ViewBag.v"
                style="border:0; width:100%; height:400px;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    }
    else
    {
        <div class="alert alert-warning">
            Harika bir harita görünümü için lütfen yönetim panelinden geçerli bir Google Maps URL'si ekleyin.
        </div>
    }
</div>