<div class="map-w3ls" style="margin-bottom: 25px;">
    @if (!string.IsNullOrEmpty(ViewBag.v))
    {
        <iframe src="@ViewBag.v"
                style="border:0; width:100%; height:400px;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    }
    else
    {
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.737663594963!2d32.83450903831493!3d39.92488658554974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34f190a9cea8f%3A0xd3862ea8248d08a0!2sAn%C4%B1tkabir!5e0!3m2!1str!2sbg!4v1772653650363!5m2!1str!2sbg"
                style="border:0; width:100%; height:400px;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    }
</div>