<div class="slider">
    <div class="header-bottom">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Navigasyon</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <h1><a class="navbar-brand" asp-controller="Default" asp-action="Index"><span>TÜRK</span>TARIM</a></h1>
                    </div>
                </div>

                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <nav class="cl-effect-1" id="cl-effect-1">
                        <ul class="nav navbar-nav navbar-right" style="margin-right: -15px;">
                            <li><a href="#about" class="scroll" data-hover="HAKKIMIZDA">Hakkımızda</a></li>
                            <li><a href="#services" class="scroll" data-hover="HİZMETLERİMİZ">Hizmetlerimiz</a></li>
                            <li><a href="#team" class="scroll" data-hover="EKİBİMİZ">Ekibimiz</a></li>
                            <li><a href="#announcements" class="scroll" data-hover="DUYURULAR">Duyurular</a></li>
                            <li><a href="#gallery" class="scroll" data-hover="GALERİ">Galeri</a></li>
                            <li><a href="#contact" class="scroll" data-hover="İLETİŞİM">İletişim</a></li>
                        </ul>
                    </nav>
                </div>
            </nav>

        </div>
    </div>
    <div class="callbacks_container">
        <ul class="rslides" id="slider3">
            <li>
                <div class="slider-info">
                    <h3>ÇEVRE VE SÜRDÜRÜLEBİLİRLİK</h3>
                    <p>Tarımda zaman ve enerji tasarrufu sağlamak için yenilikçi ekipmanlar kullanıyoruz.</p>
                    <div class="readmore-w3"><a class="readmore" href="#" data-toggle="modal" data-target="#myModal1">Devamını Oku</a></div>
                </div>
            </li>
            <li>
                <div class="slider-info">
                    <h3>DÜNYA ÇAPINDA TARIM ÇÖZÜMLERİ</h3>
                    <p>Çiftçilerin kârını artırmak için yeni mahsuller yetiştiriyoruz.</p>
                    <div class="readmore-w3"><a class="readmore" href="#" data-toggle="modal" data-target="#myModal2">Devamını Oku</a></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>