@model AgriculturePresentation.Models.LogInViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <title>Admin Giriş Formu</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="~/snow-login-form-starter/css/style.css" type="text/css" media="all" />
</head>

<body>
    <section class="w3l-login">
        <div class="overlay">
            <div class="wrapper">
                <div class="logo">
                    <a class="brand-logo" href="~/snow-login-form-starter/index.html">Admin</a>
                </div>
                <div class="form-section">
                    <h3>Giriş Yapın</h3>
                    <h6>Hizmetlerimize erişmek için giriş yapın.</h6>
                    <form method="post" class="signin-form">
                        <div class="form-input">
                            <input type="text" asp-for="UserName" placeholder="Kullanıcı adınız" required="" autofocus>
                        </div>
                        <div class="form-input">
                            <input type="password" asp-for="Password" placeholder="Şifreniz" required="">
                        </div>
                        <label class="check-remaind">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            <p class="remember">Beni hatırla</p>
                        </label>
                        <button type="submit" class="btn btn-primary theme-button mt-4">Giriş Yap</button>
                    </form>
                </div>
            </div>
        </div>
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>

        <div class="copy-right">
            <p>&copy; @DateTime.Now.Year. Tüm hakları sakladır. | Geliştiren: <a href="https://github.com/zaruyashar" target="_blank">zaruyashar</a> | Tasarım: <a href="https://w3layouts.com/" target="_blank">W3Layouts</a></p>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @if (TempData["SuccessMessage"]?.ToString() == "PasswordChanged")
    {
        <script>
            Swal.fire({
                title: 'Şifre Değiştirildi!',
                text: 'Güvenliğiniz için lütfen yeni şifrenizle giriş yapın.',
                icon: 'info',
                confirmButtonText: 'Anladım'
            });
        </script>
    }
</body>

</html>
