@model List<EntityLayer.Concrete.Contact>

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <a class="dropdown-item" asp-controller="Contact" asp-action="MessageDetails" asp-route-id="@item.ContactID">
            <div class="item-content flex-grow">
                <h6 class="ellipsis font-weight-normal">
                    <i class="mdi mdi-account text-primary me-2" aria-hidden="true"></i> @item.Name
                </h6>
                <p class="font-weight-light small-text text-muted mb-0">
                    @(item.Message != null && item.Message.Length > 30 ? item.Message.Substring(0, 30) + "..." : item.Message)
                </p>
            </div>
        </a>
    }
}
else
{
    <p class="dropdown-item text-muted font-weight-light small-text">Yeni mesaj bulunmuyor.</p>
}