<div class="col-md-12 grid-margin">
    <div class="d-flex justify-content-between flex-wrap">
        <div class="d-flex align-items-end flex-wrap">
            <div class="me-md-3 me-xl-5">
                <h2>Hoş Geldiniz!</h2>
                <p class="mb-md-0">Analitik kontrol paneli şablonunuz</p>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-end flex-wrap">

            <a asp-controller="Report" asp-action="Index" class="btn btn-primary mt-2 mt-xl-0" style="font-weight: bold !important; color: white !important;">
                Rapor oluştur
            </a>

        </div>
    </div>
</div>